:root {
    --red: #ff7171;
    --white: #FFFFFF;
    --black: #000000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica, Verdana, Arial;
}

h1 {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

.p1 {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}
